.wrap-footer {
    max-width: 1300px;
    margin: auto;
}

.footer {
    background-color: gray;
    padding: 80px 0;
}

.wrap-row {
    display: flex;
    flex-wrap: wrap;
}

.content-footer {
    width: 30%;
    padding: 15 0px;
    text-align: center;
    justify-content: space-between;
}

.content-footer li {
    list-style: none;
}

.social-links {
    display: inline-block;
    font-size: 100%;
}

.slider {
    width: 80%;
    margin: 0 auto;
}

.slider-item {
    text-align: center;
}